{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<p>
	{% block content %}
	{% endblock %}
	</p>
	<p style="color:DimGray;">
		Visit <a style="color:DimGray;" href="http://my.supercomputing.wales">my.supercomputing.wales</a> to see your projects.
	</p>
	<p style="color:DimGray;">
		If you have any questions, please contact us at <a style="color:DimGray;" href="mailto:support@supercomputing.wales">support@supercomputing.wales</a>.
	</p>
</html>
