{% extends 'notifications/email_base.html' %}
{% load i18n %}
{% block title %}
	{% blocktrans %}New attribution has been added by {{user}}
    {% endblocktrans %}
{% endblock %}
{% block content %}
	<p>
		{% blocktrans %}Dear {{first_name}}{% endblocktrans %},
	</p>
	<p>
		{% blocktrans %}A new funding source with the title "{{title}}" and identifier "{{identifier}}" has been added to the Supercomputing Wales system by {{user}}. Before the funding can be attributed to SCW projects, the PI must formally ackowledge the contribution of SCW to the research.
        {% endblocktrans %}
	</p>
	<p>
		{% blocktrans %}Please fill in the included template document, including a paragraph explaining how Supercomputing Wales has enabled the research funded by the grant. Send the signed letter to {{scw_email}}.
		{% endblocktrans %}
	</p>
	<p>
		{% blocktrans %}Once the attribution letter is approved, the funding source can be added to the project.
        {% endblocktrans %}
	</p>
{% endblock %}
