asn1crypto==0.24.0
astroid==1.6.1
certifi==2018.1.18
cffi==1.14.0
chardet==3.0.4
click==6.7
codecov==2.0.15
coverage==4.5.1
cryptography==3.3.2
dj-database-url==0.5.0
Django==2.2.27
django-classy-tags==0.8.0
django-cookie-law==1.0.13
django-hreflang==2.2
django-import-export==1.0.1
django-maintenance-mode==0.11.0
django-rq==2.3.2
git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git
django-simple-history==2.2.0
django-widget-tweaks==1.4.1
et-xmlfile==1.0.1
gunicorn==19.7.1
idna==2.6
isort==4.3.4
jdcal==1.3
jsonschema==2.6.0
lazy-object-proxy==1.3.1
lxml==4.9.1
mccabe==0.6.1
mock==2.0.0
mysql-connector-python==8.0.6
mysqlclient==2.0.1
odfpy==1.3.6
openpyxl==2.5.2
pandas==1.0.5
pbr==4.0.2
pycparser==2.18
PyJWT==1.6.1
pylint==1.8.2
python-docx==0.8.7
python-dotenv==0.7.1
pytz==2017.3
pyyaml==5.4
redis==3.2.1
requests==2.20.0
rq==1.4.3
selenium==3.12.0
six==1.11.0
sqlparse==0.2.4
tablib==0.12.1
unicodecsv==0.14.1
urllib3==1.26.5
whitenoise==3.3.1
wrapt==1.10.11
xlrd==1.1.0
xlwt==1.3.0
yapf==0.22.0
numpy==1.21.0
scipy==1.5.4
WeasyPrint==52.2
