<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="form-logo mx-auto mt-4">
		<img class="img-fluid" src="{% static "img/scw.png" %}" alt="Supercomputing Wales">
	</div>
	<div class="mx-auto mt-4 text-center form-signin">
		<h5 class="mb-4 mt-2">Which organisation would you like to sign in with?</h5>
		<div class="list-group">
			{% for institution in institutions %}
				{% if institution.identity_provider %}
					<a href="{{ institution.identity_provider }}" class="list-group-item list-group-item-action flex-column align-items-start">
						<img class="img-fluid" src="{{ institution.logo_path }}" alt="{{institution}}">
					</a>
				{% endif %}
			{% endfor %}
		</div>
		<p class="mt-3 mb-1 text-muted">© cogs3</p>
	</div>
{% endblock %}
