<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="form-logo mx-auto mt-3">
        <img class="img-fluid" src="{% static "img/scw.png" %}" alt="{% trans "Supercomputing Wales" %}">
    </div>
    <div class="mx-auto mt-3 form-signin">
        <div class="alert alert-success" role="alert">
            {% trans "Service Status" %}: {% trans "Beta Testing" %}.
        </div>
        {% block form_content %}
            {% if request.session.shib_force_reauth %}
                <div class="mx-auto mt-3">
                    <p>{% trans "You must close this web browser (including all tabs and windows) before logging in." %}</p>
                </div>
            {% else %}
                {% block login_form %}
                {% endblock %}
            {% endif %}
        {% endblock %}
        <p class="mt-3 mb-1 text-center text-muted">© {% trans "Supercomputing Wales" %}</p>
    </div>
{% endblock %}
