<!-- templates/registration/password_reset_complete.html -->
{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
	<div class="text-center password_reset">
		<img class="mb-4 rounded-circle" src="{% static "img/scw.jpg" %}" alt="" width="75" height="75">
		<h1 class="h3 mb-4 font-weight-normal">{% trans "Password Reset" %}</h1>
		<p class="mt-3 mb-3">
			{% trans "Your password has been changed." %}
		</p>
		<p class="mt-3">
			<a href="{% url 'login' %}">{% trans "Back to login page" %}</a>
		</p>
		<p class="mt-3 mb-3 text-muted">© cogs3</p>
	</div>
{% endblock %}
