{% extends 'notifications/email_base.html' %} 
{% load i18n %} 
{% block title %} 
	{% trans "Password Reset Request" %} 
{% endblock %} 
{% block content %}
<p>
    Please use the following link to <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">reset your password</a>.
</p>
<p>
    Didn't change your password? Contact <a href="mailto:support@supercomputing.wales">Supercomputing Wales</a> so we can make sure no one else is trying to access your account.
</p>
{% endblock %}
