<!-- templates/registration/password_reset_form.html -->
{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
	<div class="text-center">
		<form class="form-signin" method="post">
			{% csrf_token %}
			<img class="mb-4 rounded-circle" src="{% static "img/scw.jpg" %}" alt="" width="75" height="75">
			<h1 class="h3 mb-4 font-weight-normal">{% trans "Reset Password" %}</h1>
			{% if form.email.errors %}
				<div class="alert alert-danger" role="alert">
					{{ form.email.errors }}
				</div>
			{% endif %}
			<label for="id_email" class="sr-only">{% trans "Email address" %}</label>
			<input type="email" id="id_email" name="email" class="form-control mb-3" placeholder="{% trans "Email address" %}" required="" autofocus="">
			<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Reset Password" %}</button>
			<p class="mt-3">
				<a href="{% url 'login' %}">{% trans "Back to login page" %}</a>
			</p>
			<p class="mt-3 mb-3 text-muted">© {% trans "cogs3" %}</p>
		</form>
	</div>
{% endblock %}
