<!-- templates/terms_of_service/index.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Terms and Conditions" %}{% endblock %}
{% block content %}
<div class="row pb-3">
	<div class="col">
		<div class="card">
			<h6 class="card-header border-bottom font-weight-bold">{% trans "Terms and Conditions" %}</h6>
			<div class="card-body">
				<div class="row">
					<div class="col">
						{% include 'terms_of_service/tos.html' %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{% include 'includes/errors.html'%}
						{% if not user.accepted_terms_and_conditions %}
						<form method="post" class="text-center">
							{% csrf_token %}
							<div class="form-check form-check-inline">
								<input class="form-check-input mr-3" type="checkbox" id="accepted-terms-and-conditions"
									name="accepted_terms_and_conditions" required>
								<input type="submit" class="btn btn-primary"
									value="I agree to the terms and conditions" />
							</div>
						</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}