<p>
	Access to the Supercomputing Wales systems is subject to the following Terms & Conditions.  If you do not accept them, you must not use the systems.
</p>
<p>
	Usage must be in compliance with your host institution's Acceptable Use Policy and the JANET Acceptable Use Policy.
	<ul>
		<li>
			<a href="https://community.ja.net/library/acceptable-use-policy">The JANET document</a>
		</li>
		<li>
			<a href="https://www.aber.ac.uk/en/is/regulations/networkuse/">Aberystwyth University's policy</a>
		</li>
		<li>
			<a href="https://www.bangor.ac.uk/itservices/policies/acceptable-regulations.pdf">Bangor University's policy</a>
		</li>
		<li>
			<a href="https://sites.cardiff.ac.uk/isf/policies/information-services-regulations-and-acceptable-use/">Cardiff University's policy</a>
		</li>
		<li>
			<a href="http://www.swansea.ac.uk/it-services/policies-and-procedures">Swansea University's policy</a>
		</li>
	</ul>
</p>
<p>
	All data stored on the Supercomputing Wales systems is at the owner's own risk.
</p>
<p>
	Unless explicitly advised, backups will not be taken of data by Supercomputing Wales.  You are advised to maintain your own backups of important or not easily recreated data.
</p>
<p>
	Supercomputing Wales accepts no liability for any loss of data.
</p>
<p>
	Any user found breaching acceptable use will have their accounts immediately suspended and will be reported to their host institution and be subject to the appropriate disciplinary action.
</p>
<p>
	Any software used on the cluster is under the correct licensing conditions. If a user presents a license for software to be installed on the Supercomputing Wales systems they are confirming that they have the original software suppliers consent for it to be installed on a 3rd party system.
</p>
<p>
	Unauthorised access to commercial software will result in access being immediately suspended pending further investigation.
</p>
