<!-- templates/base.html -->
{% load static %}
{% load i18n %}
{% load hreflang %}
{% load cookielaw_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{% block title %}{% trans "cogs3" %}{% endblock %}</title>
		<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
		<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="{% static "cookielaw/css/cookielaw.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		{% block custom_css %}
		{% endblock %}
	</head>
	<body>
		{% if user.is_authenticated %}
			<nav class="navbar navbar-expand-md navbar-dark">
				<div class="container">
					<a class="navbar-brand" href="{% url 'home' %}">
						<img src="{% static "img/scw_small.png" %}" height="30" alt="{% trans "Supercomputing Wales" %}">
						{% trans "cogs3" %}
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav ml-auto">
							{% if LANGUAGE_CODE == "cy" %}
								<li class="nav-item">
									<a class="nav-link" href="{% translate_url 'en' %}" hreflang="en">English</a>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{% translate_url 'cy' %}" hreflang="cy">Cymraeg</a>
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'home' %}">{% trans "Dashboard" %}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		{% endif %}
		<main class="container">
			{% block content %}
			{% endblock %}
			{% if not user.is_authenticated %}
				<p class="mt-3 mb-1 text-center">
					<a href="{% translate_url 'en' %}" hreflang="en">English</a> | <a href="{% translate_url 'cy' %}" hreflang="cy">Cymraeg</a>
				</p>
			{% endif %}
		</main>
		<footer class="fixed-bottom">
			{% cookielaw_banner %}
		</footer>
		<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
		<script src="{% static "js/jquery-ui.min.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "cookielaw/js/cookielaw.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		{% block custom_js %}
		{% endblock %}
	</body>
</html>
