{% load static %}
{% load i18n %}
{% load url_translate %}
<p class="mt-3 mb-1 text-center">
    <a href="{% translate_url en %}" hreflang="en">English</a> | <a href="{% translate_url cy %}"
        hreflang="cy">Cymraeg</a>
</p>
<p class="pt-2 form-signin-footer text-center text-muted">
    {% blocktrans %}<i>Supercomputing Wales is part-funded by the </br> European Regional Development Fund
        (ERDF)</br> via Welsh Government.</i>{% endblocktrans %}
</p>
<p class="pt-0 text-center">
    <a href="https://www.gov.wales/eu-funding" target="_blank">
        <img class="text-center" src="{% static 'img/erdf.png' %}" width="150" height="114"
            alt="European Regional Development Fund">
    </a>
</p>