{% extends 'notifications/email_base.html' %}
{% load i18n %}
{% block title %}
	{% trans "Password Reset Request" %}
{% endblock %}
{% block content %}
	<p>
		<b>Your password has been changed.</b>
	</p>
	<p>
		Dear {{first_name}},
	</p>
	<p>
		This is confirmation that your Supercomputing Wales password has been changed.
	</p>
	<p>
		Didn't change your password? Contact <a href="mailto:support@supercomputing.wales">Supercomputing Wales Support</a> so we can make sure no one else is trying to access your account.
	</p>
{% endblock %}
