{% extends 'notifications/email_base.html' %}
{% load i18n %}
{% block title %}
	{% blocktrans %}Password Reset Request{% endblocktrans %}
{% endblock %}
{% block content %}
	<p>
		<b>{% blocktrans %}Your password has been changed{% endblocktrans %}.</b>
	</p>
	<p>
		{% blocktrans %}Dear {{first_name}}{% endblocktrans %},
	</p>
	<p>
		{% blocktrans %}This is confirmation that your Supercomputing Wales password has been changed{% endblocktrans %}.
	</p>
	<p>
		{% blocktrans %}Didn't change your password? Contact <a href="mailto:support@supercomputing.wales">Supercomputing Wales</a> so we can make sure no one else is trying to access your account.{% endblocktrans %}
	</p>
{% endblock %}
