{% extends 'notifications/email_base.html' %}
{% load i18n %}
{% block title %}
	{% blocktrans %}User Account Update{% endblocktrans %}
{% endblock %}
{% block content %}
	<p>
		{% blocktrans %}Dear {{first_name}}{% endblocktrans %},
	</p>
	<p>
		{% blocktrans %}Your Supercomputing Wales account has been {{status}}{% endblocktrans %}.
	</p>
	<p>
		{% if status == "approved" %}
			{% blocktrans %}Please now see the SCW Portal at https://portal.supercomputing.wales for information on how to join projects or apply for a new project.{% endblocktrans %}
		{% endif %}
	</p>
{% endblock %}
