{% load static %}
{% load i18n %}
{% load hreflang %}
{% load data_analytics_tags %}
<div class="tab-pane fade show active" id="nav-compute" role="tabpanel" aria-labelledby="nav-compute-tab">
    <div class="row no-gutters mt-4">
        <div class="col mt-3">
            {% include 'stats/date_range_form.html' %}
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col mt-3">
            <table class="table m-0">
                <thead class="text-dark text-center font-weight-bold">
                    <tr>
                        <td style="width:60%;"></td>
                        <td>{% trans "CPU Time" %}</td>
                        <td>{% trans "Wait Time" %}</td>
                        <td>{% trans "Wall Time" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td colspan=4 class="font-weight-bold text-left text-primary">Core Partitions</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-left px-5">
                            {{query_start_date|date:"Y-m-d"}} to {{query_end_date|date:"Y-m-d"}}
                        </td>
                        <td>{% duration compute_stats_in_date_range.cpu_time|default_if_none:0 %}</td>
                        <td>{% duration compute_stats_in_date_range.wait_time|default_if_none:0 %}</td>
                        <td>{% duration compute_stats_in_date_range.wall_time|default_if_none:0 %}</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-left px-5">{{ active_project.start_date|date:"Y-m-d" }} - Present</td>
                        <td>{% duration compute_stats_to_present.cpu_time|default_if_none:0 %}</td>
                        <td>{% duration compute_stats_to_present.wait_time|default_if_none:0 %}</td>
                        <td>{% duration compute_stats_to_present.wall_time|default_if_none:0 %}</td>
                    </tr>
                    <tr class="text-center">
                        <td colspan=4 class="font-weight-bold text-left text-primary">
                            {% trans "Researcher Owned Partitions" %}
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-left px-5">
                            {{query_start_date|date:"Y-m-d"}} to {{query_end_date|date:"Y-m-d"}}
                        </td>
                        <td>{% duration research_stats_in_date_range.cpu_time|default_if_none:0 %}</td>
                        <td>{% duration research_stats_in_date_range.wait_time|default_if_none:0 %}</td>
                        <td>{% duration research_stats_in_date_range.wall_time|default_if_none:0 %}</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-left px-5">{{ active_project.start_date|date:"Y-m-d" }} - Present</td>
                        <td>{% duration research_stats_to_present.cpu_time|default_if_none:0 %}</td>
                        <td>{% duration research_stats_to_present.wait_time|default_if_none:0 %}</td>
                        <td>{% duration research_stats_to_present.wall_time|default_if_none:0 %}</td>
                    </tr>
                    <tr class="text-center">
                        <td class="font-weight-bold text-left text-primary">Total</td>
                        <td>{% duration active_project.total_cpu_time|default_if_none:0 %}</td>
                        <td>{% duration active_project.total_wait_time|default_if_none:0 %}</td>
                        <td>{% duration active_project.total_wall_time|default_if_none:0 %}</td>
                    </tr>
                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td class="text-dark font-weight-bold">
                            {% trans "Total Charge" %}
                        </td>
                        <td>N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row no-gutters mt-4">
        <div class="col">
            <nav>
                <div class="nav nav-tabs active" id="nav-tab-partitions" role="tablist">
                    <a class="nav-item nav-link active" id="nav-all-partitions-tab" data-toggle="tab"
                        href="#nav-all-partitions" role="tab" aria-controls="nav-all-partitions" aria-selected="true">
                        {% trans "All Partitions" %}</a>
                    <a class="nav-item nav-link" id="nav-core-paritions-tab-tab" data-toggle="tab"
                        href="#nav-core-paritions-tab" role="tab" aria-controls="nav-core-paritions-tab"
                        aria-selected="false">{% trans "Core Partitions" %}</a>
                    <a class="nav-item nav-link" id="nav-research-partitions-tab-tab" data-toggle="tab"
                        href="#nav-research-partitions-tab" role="tab" aria-controls="nav-research-partitions-tab"
                        aria-selected="false">{% trans "Researcher Owned Partitions" %}</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row no-gutters mt-4">
        <div class="col-6">
            <figure class="highcharts-figure">
                <div id="rate_of_usage_chart_core"></div>
            </figure>
        </div>
        <div class="col-6">
            <figure class="highcharts-figure">
                <div id="cumlative_usage_chart_core"></div>
            </figure>
        </div>
    </div>
    <div class="row no-gutters mt-0 mb-4">
        <div class="col-6 px-3">
            <table class="table">
                <thead>
                    <tr class="text-dark text-center font-weight-bold">
                        <td></td>
                        <td>{% trans "CPU Time" %}</td>
                        <td>{% trans "Wait Time" %}</td>
                        <td>{% trans "Wall Time" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td class="text-left">
                            03/10/2020 to 28/10/2020
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-left">
                            01/01/2000 - Present
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 px-2">
            <table class="table">
                <thead>
                    <tr class="text-dark text-center font-weight-bold">
                        <td></td>
                        <td>CPU Time</td>
                        <td>Wait Time</td>
                        <td>Wall Time</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td class="text-left">
                            03/10/2020 to 28/10/2020
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-left">
                            01/01/2000 - Present
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row no-gutters mt-4">
        <div class="col-6">
            <figure class="highcharts-figure">
                <div id="user_usage_chart"></div>
            </figure>
        </div>
        <div class="col-6">
            <figure class="highcharts-figure">
                <div id="usage_by_partition_chart"></div>
            </figure>
        </div>
    </div>
    <div class="row no-gutters mt-4">
        <div class="col-6 mt-4">
            <figure class="highcharts-figure">
                <div id="compute_efficency_chart"></div>
            </figure>
        </div>
        <div class="col-6 mt-4">
            <figure class="highcharts-figure">
                <div id="num_slurm_jobs_chart"></div>
            </figure>
        </div>
    </div>
    <div class="row no-gutters mb-4">
        <div class="col-6 px-3">
            <table class="table">
                <thead>
                    <tr class="text-dark text-center font-weight-bold">
                        <td></td>
                        <td>Avg Efficency</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            03/10/2020 to 28/10/2020
                        </td>
                        <td class="text-center">0</td>
                    </tr>
                    <tr>
                        <td>
                            01/01/2000 - Present
                        </td>
                        <td class="text-center">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 px-3">
            <table class="table">
                <thead>
                    <tr class="text-dark text-center font-weight-bold">
                        <td></td>
                        <td>Number of jobs</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            03/10/2020 to 28/10/2020
                        </td>
                        <td class="text-center">0</td>
                    </tr>
                    <tr>
                        <td>
                            01/01/2000 - Present
                        </td>
                        <td class="text-center">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row no-gutters mt-4">
        <div class="col-6 mt-4">
            <figure class="highcharts-figure">
                <div id="per_job_average_chart"></div>
            </figure>
        </div>
        <div class="col-6 mt-4">
            <figure class="highcharts-figure">
                <div id="number_of_processors_chart"></div>
            </figure>
        </div>
    </div>
    <div class="row no-gutters mb-4">
        <div class="col-6 px-3">
            <table class="table">
                <thead>
                    <tr class="text-dark text-center font-weight-bold">
                        <td></td>
                        <td>Avg CPU Time</td>
                        <td>Avg Wait Time</td>
                        <td>Avg Wall Time</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td class="text-left">
                            03/10/2020 to 28/10/2020
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-left">
                            01/01/2000 - Present
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 px-3">
            <table class="table">
                <thead>
                    <tr class="text-dark text-center font-weight-bold">
                        <td></td>
                        <td>Number of cores</td>
                        <td>Avg cores per job</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td class="text-left">
                            03/10/2020 to 28/10/2020
                        </td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            01/01/2000 - Present
                        </td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>