{% load static %}
{% load i18n %}
{% load hreflang %}

{% if request.user.is_staff %}
<div class="row no-gutters pb-0">
    <div class="col">
        <div class="alert alert-info" role="alert">
            <h5 class="alert-heading">{% trans "SCW Administration" %}</h5>
            <hr>
            <form class="form-row" method="GET" action="{% url 'data-analytics-search' %}" novalidate>
                <div class="input-group">
                    <input type="text" class="form-control col-12" name="code"
                        placeholder="{% trans 'SCW, HPCW or ARCCA project code' %}" value={{request.GET.code}}>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">{% trans "Find" %}</button>
                    </div>
                </div>
            </form>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert {{ message.tags }}" {% endif %} role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% else %}
<div class="row no-gutters align-items-center">
    <div class="col">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="projects" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ active_project.code }}
            </button>
            <div class="dropdown-menu" aria-labelledby="projects">
                {% if project_codes %}
                {% for project_code in project_codes %}
                {% if project_code != active_project.code %}
                <a class="dropdown-item" href="{% url 'data-analytics-detail' project_code %}">{{project_code}}</a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}