<!-- templates/dashboard.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Data Analytics" %}{% endblock %}
{% block content %}
<div class="row no-gutters pb-3">
    <div class="col">
        <div class="card">
            <h6 class="card-header border-bottom"><b>{% trans "Data Analytics" %}</b></h6>
            <div class="card-body">
                {% if request.user.is_staff %}
                <div class="row no-gutters">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            <h5 class="alert-heading">{% trans "SCW Administration" %}</h5>
                            <hr>
                            <form class="form-row" method="post" action="" novalidate>
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control col-12" name="project_code" id="project_code"
                                        placeholder="{% trans 'SCW, HPCW or ARCCA project code' %}">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">{% trans "Find" %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                scw0001
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">scw0002</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row no-gutters pt-4 px-3">
                    <div class="col">
                        <h6>ILorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore et dolore magna aliqua.</h6>
                    </div>
                </div>
                <div class="row no-gutters pt-3">
                    <div class="col">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="overview-tab" data-toggle="tab" href="#overview"
                                    role="tab" aria-controls="overview" aria-selected="true">{% trans "Overview" %}</a>
                                <a class="nav-item nav-link" id="nav-compute-tab" data-toggle="tab" href="#nav-compute"
                                    role="tab" aria-controls="nav-compute"
                                    aria-selected="false">{% trans "Compute" %}</a>
                                <a class="nav-item nav-link" id="nav-storage-tab" data-toggle="tab" href="#nav-storage"
                                    role="tab" aria-controls="nav-storage"
                                    aria-selected="false">{% trans "Storage" %}</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                aria-labelledby="overview-tab">
                                {% include 'stats/overview.html' %}
                            </div>
                            <div class="tab-pane fade" id="nav-compute" role="tabpanel"
                                aria-labelledby="nav-compute-tab">
                                {% include 'stats/compute.html' %}
                            </div>
                            <div class="tab-pane fade" id="nav-storage" role="tabpanel"
                                aria-labelledby="nav-storage-tab">
                                {% include 'stats/storage.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block custom_js %}
<script src="{% static "js/data_analytics.js" %}"></script>
{% endblock %}