{% load static %}
{% load i18n %}
{% load hreflang %}
<div class="row no-gutters px-3 pt-3">
    <div class="col">
        <a class="btn btn-primary float-right" href="#" role="button">Export to PDF</a>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-6">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td style="width: 40%;">
                        <b>{% trans "Principal Investigator" %}</b>
                    </td>
                    <td style="width: 60%;">{{user.first_name}} {{user.last_name}} (Institution)</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Technical Lead" %}</b>
                    </td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Start Date" %}</b>
                    </td>
                    <td>00/00/0000</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "End Date" %}</b>
                    </td>
                    <td>00/00/0000</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Institution" %}</b>
                    </td>
                    <td>Cardiff University</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Efficency" %}</b>
                    </td>
                    <td class="text-success">
                        88%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-borderless">
            <tbody style="border-top:0;">
                <tr>
                    <td style="width: 40%;">
                        <b>{% trans "Home storage allocation" %}</b>
                    </td>
                    <td style="width: 60%;">N/A</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Scratch storage allocation" %}</b>
                    </td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Total allocated core hours" %}</b>
                    </td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Total number of core hours" %}</b>
                    </td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Total number of CPU hours" %}</b>
                    </td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Total number of Slurm jobs" %}</b>
                    </td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row no-gutters mt-4">
    <div class="col-6">
        <figure class="highcharts-figure">
            <div id="pi_projects_chart"></div>
        </figure>
    </div>
    <div class="col-6">
        <figure class="highcharts-figure">
            <div id="project_users_chart"></div>
        </figure>
    </div>
</div>
<div class="row no-gutters mb-4">
    <div class="col-6 px-3">
        <table class="table">
            <thead>
                <tr class="text-dark text-center font-weight-bold">
                    <td></td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Active</td>
                    <td class="text-center">5</td>
                </tr>
                <tr>
                    <td>Dormant</td>
                    <td class="text-center">2</td>
                </tr>
                <tr>
                    <td>Inactive</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <td>Retired</td>
                    <td class="text-center">1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6 px-3">
        <table class="table">
            <thead>
                <tr class="text-dark text-center font-weight-bold">
                    <td></td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Active</td>
                    <td class="text-center">10</td>
                </tr>
                <tr>
                    <td>Dormant</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <td>Inactive</td>
                    <td class="text-center">3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>