<!-- templates/project/application_detail.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load project_filters %}
{% block title %}{% trans "Project details" %}{% endblock %}
{% block content %}
	<div class="my-3 p-3 bg-white rounded box-shadow">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					{% if project.is_approved %}
					  <h4> {{project.title}} </h4>
						{% if project.can_have_more_users %}
							<a class="btn btn-primary" href="{% url 'project-membership-invite' project.pk %}" role="button">{% trans "Invite User" %}</a>
						{% else %}
							<a class="btn btn-gray" onclick="alert('{% trans "This project has reached its membership cap. If you require more members, please contact support." %}')"}>{% trans "Invite User" %}</a>
						{% endif %}
					{% else %}
					<h4>{% trans "Project Details" %}</h4>
						{% if project.has_allocation_request %}
							{% if request.user.profile.institution.separate_allocation_requests %}
								<button class="btn btn-gray" onclick="alert('{% trans "You can only invite users to a project after a request for supercomputer usage has been approved. You may Request supercomputer time using the button below." %}')">{% trans "Invite User" %}</button>
							{% else %}
								<button class="btn btn-gray" onclick="alert('{% trans "You can only invite users to a project after the project has been approved" %}')">{% trans "Invite User" %}</button>
							{% endif %}
						{% else %}
								<button class="btn btn-gray" onclick="alert('{% trans "You can only invite users to a project after a request for supercomputer usage has been approved." %}')">{% trans "Invite User" %}</button>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
	  	<div class="col">
	  		{% include 'includes/messages.html'%}
	  	</div>
	  </div>
    <h5>
    Project Details
    </h5>

		<div class="row">
			<div class="col">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							{% if project.code %}
								<tr>
									<th scope="row">{% trans "Code" %}</th>
									<td>{{project.code}}</td>
								</tr>
							{% endif %}
							<tr>
								<th scope="row">{% trans "Description" %}</th>
								<td>{{project.description}}</td>
							</tr>
							{% if project.legacy_hpcw_id %}
								<tr>
									<th scope="row">{% trans "Legacy HPC Wales ID" %}</th>
									<td>{{project.legacy_hpcw_id}}</td>
								</tr>
							{% endif %}
							{% if project.legacy_arcca_id %}
								<tr>
									<th scope="row">{% trans "Legacy ARCCA ID" %}</th>
									<td>{{project.legacy_arcca_id}}</td>
								</tr>
							{% endif %}
							<tr>
								<th scope="row">{% trans "Institution of technical lead" %}</th>
								<td>{{project.tech_lead.profile.institution}}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "Institution project reference" %}</th>
								<td>{{project.institution_reference}}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "Project Leader" %}</th>
								<td>{{project.supervisor_name}} <br>
									{{project.supervisor_position}} <br>
									{{project.supervisor_email}}</td>
							</tr>
							{% if project.tech_lead.profile.institution.needs_funding_workflow or project.tech_lead.profile.institution == None %}
							<tr>
								<th scope="row">{% trans "Attributed Outputs" %}</th>
								<td>
									{% if project.attributions.all %}
										{% trans "Funding Sources and Grants" %}
										{% for source in project.attributions.get_fundingsources %}
											<li>{{source.title}}</li>
										{% empty %}
											<li>{% trans "None yet" %}</li>
										{% endfor %}
										<br />
										{% trans "Publications" %}
										{% for source in project.attributions.get_publications %}
											<li>{{source.title}}</li>
										{% empty %}
											<li>{% trans "None yet" %}</li>
										{% endfor %}
									{% else %}
										{% trans "None yet" %}
									{% endif %}
									<br />
									<a class='btn btn-primary' href="{% url 'project-add-attributions' project.pk %}">{% trans "Manage attributed outputs" %}</a>
								</td>
							</tr>
							{% endif %}
							{% if project.tech_lead.profile.institution.needs_priority_workflow or project.tech_lead.profile.institution == None %}
							<tr>
								<th scope="row">{% trans "Priority Information" %}</th>
								<td>
									{% trans "Current Attribution Points" %}: {{project.active_attribution_points}}
									<br>
									{% trans "Priority Level" %}: {{project.quality_of_service}}
									<br>
									<small class="text-muted">
										{% blocktrans  %}
										Your project's priority level is calculated based on its number of Attribution Points. Attributions are gained by attributing grants and publications to Supercomputing Wales.
										You can attribute grants (or other funding sources) and publications to Supercomputing Wales using the manage attributions button.
										Note that it takes up to a day to process new attributions after they are added and approved.
										{% endblocktrans  %}
									</small>
								</td>
								{% endif %}
						</tbody>
					</table>

                {% if request.user.profile.institution.separate_allocation_requests %}
                <h5> {% trans "Supercomputer access" %}: </h5>
                {% endif %}
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>{% trans "Start Date" %}</th>
                            <th>{% trans "End Date" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th></th>
                        </tr>
                        {% for allocation in project.get_allocation_requests %}
                        <tr>
                            <td> {{allocation.start_date}} </td>
                            <td> {{allocation.end_date}} </td>
                            <td> {{allocation.get_status_display}} </td>
                            <td>
                                <a href="{% url 'allocation-request-detail' allocation.pk %}"> {% trans "Show details" %} </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if request.user.profile.institution.allows_rse_requests %}
                <h5> {% trans "RSE support" %}: </h5>
                {% if project.has_rse_requests %}
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>{% trans "Date requested" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Request Status" %}</th>
                            <th></th>
                        </tr>
                        {% for allocation in project.get_rse_requests %}
                        <tr>
                            <td> {{allocation.created_time|date}} </td>
                            <td> {{allocation.title}} </td>
                            <td> {{allocation.get_status_display}} </td>
                            <td>
                                <a href="{% url 'rse-allocation-detail' allocation.pk %}"> {% trans "Show details" %} </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>
                    You have not yet requested support from the Research Software Engineering team.

                </p>
                <p>
                    Support for your research software may be available to you at no charge.

                    {% if project|can_request_rse_allocation:user %}
                      Please use the button below to submit a support request.
                    {% endif %}
                </p>
                {% endif %}
                {% endif %}
            </div>
            {% if request.user.profile.institution.separate_allocation_requests and project|can_request_separate_supercomputer_usage:user %}
            <a class='btn btn-primary' href="{% url 'create-allocation' project.pk %}">{% trans "Request supercomputer usage" %}</a>
            {% endif %}
            {% if project|can_request_rse_allocation:user %}
            <a class='btn btn-primary' href="{% url 'request-project-rse-time' project.pk %}">{% trans "Request RSE support" %}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
