<!-- templates/project/application_detail.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{% trans "Project details" %}{% endblock %}
{% block content %}

<div class="row pb-3">
	<div class="col">
		<div class="card">
			<h6 class="card-header border-bottom font-weight-bold">{% trans "Project Application" %}</h6>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table m-0">
								<tbody>
									<tr>
										<td class="text-dark font-weight-bold" style="width:25%">{% trans "Title" %}</th>
										<td style="width:75%">{{project.title}}</td>
									</tr>
									{% if project.code %}
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Code" %}</th>
										<td>{{project.code}}</td>
									</tr>
									{% endif %}
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Description" %}</th>
										<td>{{project.description}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Status" %}</th>
										<td>{{project.get_status_display}}</td>
									</tr>
									{% if project.legacy_hpcw_id %}
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Legacy HPC Wales ID" %}</th>
										<td>{{project.legacy_hpcw_id}}</td>
									</tr>
									{% endif %}
									{% if project.legacy_arcca_id %}
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Legacy ARCCA ID" %}</th>
										<td>{{project.legacy_arcca_id}}</td>
									</tr>
									{% endif %}
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Institution of technical lead" %}</th>
										<td>{{project.tech_lead.profile.institution}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Institution project reference" %}</th>
										<td>{{project.institution_reference}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Principal Investigator name" %}</th>
										<td>{{project.pi_name}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Principal Investigator position" %}</th>
										<td>{{project.pi_position}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Principal Investigator email" %}</th>
										<td>{{project.pi_email}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Funding source" %}</th>
										<td>{{project.funding_source}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Start date" %}</th>
										<td>{{project.start_date}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "End date" %}</th>
										<td>{{project.end_date}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Requirements software" %}</th>
										<td>{{project.requirements_software}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Requirements gateways" %}</th>
										<td>{{project.requirements_gateways}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Requirements training" %}</th>
										<td>{{project.requirements_training}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Requirements onboarding" %}</th>
										<td>{{project.requirements_onboarding}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "CPU time allocation in hours" %}</th>
										<td>{{project.allocation_cputime}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "RAM allocation in GB" %}</th>
										<td>{{project.allocation_memory}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Home storage in GB" %}</th>
										<td>{{project.allocation_storage_home}}</td>
									</tr>
									<tr>
										<td class="text-dark font-weight-bold">{% trans "Scratch storage in GB" %}</th>
										<td>{{project.allocation_storage_scratch}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}