<!-- templates/project/create.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}Create new project{% endblock %}
{% block content %}
<div class="row pb-3">
	<div class="col">
		<div class="card">
			<h6 class="card-header border-bottom font-weight-bold">{% trans "Project Application" %}</h6>
			<div class="card-body">
				<form method="post" enctype="multipart/form-data" novalidate>
					{% csrf_token %}
					{% include 'includes/generic_form.html' with form=form %}
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}